@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body .top {
  background-color: black;
  text-align: start;
  padding-top: 13px;
  padding-bottom: 13px;
}

body .top p {
  color: var(--white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  /* Overline */
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 14px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: start;
}

body .top p span {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  /* Overline */
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 14px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

body header {
  box-shadow: -10px 5px 200px rgb(182, 182, 182);
}

body header .container nav .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

body header .container nav .bottom .svg {
  display: none;
}

body header .container nav .bottom .nav-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

body header .container nav .bottom .nav-links .nav-link {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  /* Subtitle 2 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.1px;
}

body header .container nav .bottom .nav-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

body header .container nav .bottom .nav-btns button {
  color: var(--black, #0d0d0d);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  /* Body 1 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  border-radius: 4px;
  border: none;
  height: 22px;
}

body header .container nav .bottom .nav-btns .btn1 {
  width: 70px;
}

body header .container nav .bottom .nav-btns .btn2 {
  width: 197px;
  background-color: #ffc000;
}

@media (max-width: 920px) {
  body header .container nav .bottom .svg {
    display: block;
  }
  body header .container nav .bottom .nav-btns {
    display: none;
  }
}
@media (max-width: 542px) {
  body header .container nav .bottom .nav-links {
    display: none;
  }
}
body footer {
  background-color: white;
  padding-top: 46px;
  padding-bottom: 59px;
}

body footer .footer-container {
  max-width: 1200px;
}

body footer .footer-container .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body footer .footer-container .footer-content .footer-left {
  display: flex;
  flex-direction: row;
  gap: 29px;
}

body footer .footer-container .footer-content .footer-left .logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

body footer .footer-container .footer-content .footer-left .logo .p3 {
  max-width: 365px;
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* Body 2 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
}

body footer .footer-container .footer-content .footer-left .logo .p2 {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* BUTTON */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

body footer .footer-container .footer-content .footer-left .number {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

body footer .footer-container .footer-content .footer-left .number ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body footer .footer-container .footer-content .footer-left .number ul li {
  list-style: none;
  list-style-position: inside;
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* Body 2 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
}

body footer .footer-container .footer-content .footer-left .number ul .head {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* BUTTON */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

body footer .footer-container .footer-content .footer-right {
  display: flex;
  flex-direction: row;
  gap: 38px;
  justify-content: space-between;
}

body footer .footer-container .footer-content .footer-right ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body footer .footer-container .footer-content .footer-right ul li {
  list-style: none;
  list-style-position: inside;
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* Body 2 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
}

body footer .footer-container .footer-content .footer-right ul .head {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* BUTTON */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

@media (max-width: 542px) {
  body footer .footer-container .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.umars-pages {
  margin-top: 64px;
}

.umars-pages .s-1 {
  display: flex;
  justify-content: center;
  z-index: 20;
}

.umars-pages .s-1 .container .info-text {
  margin-bottom: 24px;
}

.umars-pages .s-1 .container .info-text .info-h2 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 47.6px;
  letter-spacing: 0.25px;
}

.umars-pages .s-1 .container .info-content {
  display: grid;
  grid-template-columns: 264px 264px 264px 264px;
  grid-template-rows: 334px 334px 334px;
  gap: 30px;
}

.umars-pages .s-1 .container .info-content .info-item {
  display: flex;
  gap: 26px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.umars-pages .s-1 .container .info-content .info-item .info-h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.5px;
  letter-spacing: 0.5px;
}

@media (max-width: 1103px) {
  .umars-pages .s-1 .container .info-content {
    grid-template-columns: 264px 264px 264px;
    grid-template-rows: 334px 334px 334px 334px;
  }
}
@media (max-width: 834px) {
  .umars-pages .s-1 .container .info-content {
    grid-template-columns: 264px 264px;
    grid-template-rows: 334px 334px 334px 334px 334px;
  }
}
@media (max-width: 834px) {
  .umars-pages .s-1 .container .info-text .info-h2 {
    font-size: 34px;
  }
  .umars-pages .s-1 .container .info-content {
    grid-template-columns: 264px;
    grid-template-rows: 334px 334px 334px 334px 334px 334px;
  }
}
.page4-hero1 {
  height: 800px;
  padding-top: 60px;
}

.page4-hero2 {
  height: 800px;
  padding-top: 60px;
}

.page4-hero3 {
  height: 600px;
  background-color: aqua;
  padding-top: 60px;
}

.div1 {
  display: flex;
  gap: 14px;
  padding-top: 20px;
}

.page4-ob1 {
  display: flex;
}

.pg4-p1 {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  padding-bottom: 20px;
}

.pg4-p2 {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  max-width: 600px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.pg4-p3 {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
}

.l2 {
  margin: 0px 0px 0px 100px;
}

.ps {
  width: 40px;
  height: 40px;
  margin: 20px 0px 0px 10px;
  border-radius: 10px;
  border: none;
}

.page4-btn1 {
  width: 255px;
  height: 40px;
  background-color: #ffc000;
  margin: 20px 0px 0px 10px;
  color: black;
  border: none;
}

.pag4-btn2 {
  width: 255px;
  height: 40px;
  background-color: #b0afb1;
  margin: 20px 0px 0px 10px;
  color: black;
  border: none;
}

.page4-p4 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin: 10px 0px 0px 10px;
}

.rasm {
  padding-top: 20px;
}

.rasm2 {
  margin: 20px 0px 0px 0px;
}

.imgg2 {
  margin: 0px 0px 0px 55px;
}

.imgg3 {
  margin: 0px 0px 0px 20px;
}

.hero2 {
  text-align: center;
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
}

.m1 {
  width: 264px;
  height: 542px;
  border-radius: 12px;
  background: #fff;
  margin: 0px 0px 0px 60px;
}

.page4-p5 {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  max-width: 245px;
  padding: 10px 0px 0px 20px;
}

.page4-p6 {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.4px;
  max-width: 240px;
  height: 54px;
  padding: 5px 0px 0px 20px;
}

.imggg {
  padding: 10px 0px 0px 20px;
}

.btn2 {
  width: 220px;
  height: 30px;
  margin: 10px 0px 0px 20px;
  background-color: #ffc000;
  border: none;
}

.ob3 {
  display: flex;
  margin: 50px 0px 0px 0px;
}

.bosh {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
}

.m2 {
  width: 264px;
  height: 342px;
  border-radius: 12px;
  background: #fff;
  margin: 0px 0px 0px 60px;
}

.w {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 32.5px */
  letter-spacing: 0.5px;
  text-align: center;
}

.ob5 {
  display: flex;
  margin: 50px 0px 0px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body .top {
  background-color: black;
  text-align: start;
  padding-top: 13px;
  padding-bottom: 13px;
}

body .top p {
  color: var(--white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  /* Overline */
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 14px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: start;
}

body .top p span {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  /* Overline */
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 14px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

body header {
  box-shadow: -10px 5px 200px rgb(182, 182, 182);
}

body header .container nav .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

body header .container nav .bottom .svg {
  display: none;
}

body header .container nav .bottom .nav-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

body header .container nav .bottom .nav-links .nav-link {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  /* Subtitle 2 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.1px;
}

body header .container nav .bottom .nav-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

body header .container nav .bottom .nav-btns button {
  color: var(--black, #0d0d0d);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  /* Body 1 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  border-radius: 4px;
  border: none;
  height: 22px;
}

body header .container nav .bottom .nav-btns .btn1 {
  width: 70px;
}

body header .container nav .bottom .nav-btns .btn2 {
  width: 197px;
  background-color: #ffc000;
}

@media (max-width: 920px) {
  body header .container nav .bottom .svg {
    display: block;
  }
  body header .container nav .bottom .nav-btns {
    display: none;
  }
}
@media (max-width: 542px) {
  body header .container nav .bottom .nav-links {
    display: none;
  }
}
body footer {
  background-color: white;
  padding-top: 46px;
  padding-bottom: 59px;
}

body footer .footer-container {
  max-width: 1200px;
}

body footer .footer-container .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body footer .footer-container .footer-content .footer-left {
  display: flex;
  flex-direction: row;
  gap: 29px;
}

body footer .footer-container .footer-content .footer-left .logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

body footer .footer-container .footer-content .footer-left .logo .p3 {
  max-width: 365px;
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* Body 2 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
}

body footer .footer-container .footer-content .footer-left .logo .p2 {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* BUTTON */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

body footer .footer-container .footer-content .footer-left .number {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

body footer .footer-container .footer-content .footer-left .number ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body footer .footer-container .footer-content .footer-left .number ul li {
  list-style: none;
  list-style-position: inside;
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* Body 2 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
}

body footer .footer-container .footer-content .footer-left .number ul .head {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* BUTTON */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

body footer .footer-container .footer-content .footer-right {
  display: flex;
  flex-direction: row;
  gap: 38px;
  justify-content: space-between;
}

body footer .footer-container .footer-content .footer-right ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body footer .footer-container .footer-content .footer-right ul li {
  list-style: none;
  list-style-position: inside;
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* Body 2 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
}

body footer .footer-container .footer-content .footer-right ul .head {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  /* BUTTON */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

@media (max-width: 542px) {
  body footer .footer-container .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
header .navbar .togl {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  right: 0;
  top: 90px;
  background-color: white;
  padding: 50px;
  border-radius: 8px;
}

header .navbar .togl .searchbar {
  width: 300px;
}

header .navbar #navbar {
  display: none;
  transition: 0.5s;
}

.navbar-open {
  display: block; /* Navbar butona tıklandığında görünür */
}

.dark-mode {
  background-color: black;
  color: white;
}

.menyu .nav-btns {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menyu .nav-btns .dark-btn {
  text-align: start;
  padding-left: 35px;
}

.backtop {
  position: fixed;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;
  z-index: 10;
  background-color: rgb(77, 77, 77);
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

main .prof .prof-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

main .prof .prof-content .img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #ccc;
}

main .prof .prof-content .name .p5 {
  color: var(--text-tittle, #1c3554);
  /* Heading/Bold/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
}

main .prof .prof-content .name .p6 {
  color: var(--text-body, #808080);
  /* Heading/Medium/H6 - 16px */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
  padding-top: 8px;
}

main .tablets .tablets-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 64px;
  padding-bottom: 53px;
}

main .tablets .tablets-content .p7,
main .tablets .tablets-content .p8,
main .tablets .tablets-content .p9 {
  color: var(--text-tittle, #1c3554);
  /* Heading/Medium/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 150% */
}

main .tablets .tablets-content .p9:hover {
  color: var(--text-tittle, #808080);
  /* Heading/Medium/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  transition: 0.5s;
  line-height: 48px; /* 150% */
}

main .tablets .tablets-content .p8:hover {
  color: var(--text-tittle, #808080);
  /* Heading/Medium/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 150% */
  transition: 0.5s;
}

main .tablets .tablets-content .p7:hover {
  transition: 0.5s;
  color: var(--text-tittle, #808080);
  /* Heading/Medium/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 150% */
}

main .kardlar .kard-kontents .trend-cards {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 45px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

main .kardlar .kard-kontents .trend-cards .t-card1 {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

main .kardlar .kard-kontents .trend-cards .t-card1 .t-card {
  width: 295px;
  height: 427px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  text-align: start;
  position: relative;
  cursor: pointer;
}

main .kardlar .kard-kontents .trend-cards .t-card1 .t-card .t-texts .p11 {
  color: var(--text-tittle, #1c3554);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
  padding-bottom: 8px;
}

main .kardlar .kard-kontents .trend-cards .t-card1 .t-card .t-texts .p12 {
  color: var(--primary-pink, #f72585);
  /* Paragraph/Semibold/Label - 12px */
  font-family: Montserrat SemiBold;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  padding-bottom: 12px;
}

main .kardlar .kard-kontents .trend-cards .t-card1 .t-card .t-texts .trend-s {
  display: flex;
  flex-direction: row;
  align-items: start;
}

main .kardlar .kard-kontents .trend-cards .t-card1 .t-card .t-texts .trend-s .p13 {
  color: var(--text-body, #808080);
  /* Paragraph/Semibold/Caption - 14px */
  font-family: Montserrat SemiBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  padding-bottom: 16px;
}

main .kardlar .kard-kontents .trend-cards .t-card1 .t-card .t-texts .p14 {
  color: var(--text-tittle, #1c3554);
  /* Heading/Medium/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

main .kardlar .kard-kontents .trend-cards .t-card1 .t-card .t-texts .p14 del {
  color: var(--text-in-field, #ccc);
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

main .kardlar .kard-kontents .trend-cards .t-card1 .t-card .t-img {
  width: 263px;
  height: 208px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 27px;
}

main .kardlar .kard-kontents .trend-cards .t-card1 .t-card .fartuk .p15 {
  color: var(--text-white, #fff);
  /* Paragraph/Semibold/Label - 12px */
  font-family: Montserrat SemiBold;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  background: #4586d6;
  border-radius: 8px;
  padding: 4px 24px;
  position: absolute;
  top: 205px;
  left: 83px;
}

main .kardlar .kard-kontents .trend-cards .t-card:hover {
  transition: all 0.5s;
  width: 295px;
  height: 427px;
  overflow: hidden;
  box-shadow: 2px 1px 15px 1px #858383;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  text-align: start;
  position: relative;
}

@media (max-width: 1280px) {
  main .kardlar .kard-kontents .trend-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 650px) {
  main .kardlar .kard-kontents .trend-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .kardlar .kard-kontents .trend-cards .t-card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .tablets .tablets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main .prof .prof-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.page10 .page-section {
  margin-top: 200px;
  margin-bottom: 100px;
}

.page10 .page-section .container .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 39px;
}

.page10 .page-section .container .content .content-item-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.page10 .page-section .container .content .content-item-1 .h1 {
  width: 528px;
  color: #000;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 900;
  line-height: 64px;
  margin-bottom: 72px;
}

.page10 .page-section .container .content .content-item-1 .h4 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 170% */
  margin-bottom: 8px;
}

.page10 .page-section .container .content .content-item-1 .h5 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 44px;
}

.page10 .page-section .container .content .content-item-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.page10 .page-section .container .content .content-item-2 input {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  padding: 14px 224px 14px 24px;
  background-color: white;
  border-radius: 4px;
  border: none;
  border: 2px solid #dbdee7;
  outline: none;
}

.page10 .page-section .container .content .content-item-2 input:first-child {
  padding: 14px 224px 14px 24px;
  background-color: white;
  border-radius: 4px;
  border: none;
  border: 2px solid #dbdee7;
  outline: none;
}

.page10 .page-section .container .content .content-item-2 .input-last-child {
  width: 496px;
  padding: 14px 187px 83px 24px;
}

.page10 .page-section .container .content .content-item-2 .btn-page10 {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: var(--yellow, #ffc000);
  width: 262px;
  height: 60px;
  flex-shrink: 0;
  color: #0d0d0d;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
}

@media (max-width: 1036px) {
  .page10 .page-section {
    display: flex;
    justify-content: center;
  }
  .page10 .page-section .container .content {
    flex-direction: column;
    justify-content: center;
  }
  .page10 .page-section .container .content .content-item-1 {
    align-items: center;
  }
  .page10 .page-section .container .content .content-item-1 .h1 {
    text-align: center;
  }
}
.page12-hero1 {
  padding-top: 50px;
  height: 650px;
}

.page12-p1 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 42px;
  max-width: 500px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px; /* 139.13% */
}

.page12-p2 {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  /* Subtitle 2 */
  font-family: Montserrat;
  font-size: 14px;
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.1px;
}

.page12-btn1 {
  width: 222px;
  height: 40px;
  background-color: #ffc000;
  border: none;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
}

.page12-ob1 {
  display: flex;
  align-items: center;
}

.page12-l2 {
  margin: 0px 0px 0px 250px;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */