@use "../base/colors" as *;
@use "../components" as *;

body {
  footer {
    background-color: white;
    padding-top: 46px;
    padding-bottom: 59px;
    .footer-container {
      max-width: 1200px;
      .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .footer-left {
          display: flex;
          flex-direction: row;
          gap: 29px;
          .logo {
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: start;
            .p3 {
              max-width: 365px;
              color: var(--black, #000);
              font-variant-numeric: lining-nums proportional-nums;

              /* Body 2 */
              font-family: Montserrat;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 160%; /* 22.4px */
              letter-spacing: 0.25px;
            }
            .p2 {
              color: var(--black, #000);
              font-variant-numeric: lining-nums proportional-nums;

              /* BUTTON */
              font-family: Montserrat;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%; /* 19.6px */
              letter-spacing: 0.75px;
              text-transform: uppercase;
            }
          }
          .number {
            display: flex;
            flex-direction: column;
            gap: 38px;
            ul {
              display: flex;
              flex-direction: column;
              gap: 10px;
              li {
                list-style: none;
                list-style-position: inside;
                color: var(--black, #000);
                font-variant-numeric: lining-nums proportional-nums;

                /* Body 2 */
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 22.4px */
                letter-spacing: 0.25px;
              }
              .head {
                color: var(--black, #000);
                font-variant-numeric: lining-nums proportional-nums;

                /* BUTTON */
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 19.6px */
                letter-spacing: 0.75px;
                text-transform: uppercase;
                padding-bottom: 16px;
              }
            }
          }
        }
        .footer-right {
          display: flex;
          flex-direction: row;
          gap: 38px;
          justify-content: space-between;
          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
              list-style: none;
              list-style-position: inside;
              color: var(--black, #000);
              font-variant-numeric: lining-nums proportional-nums;

              /* Body 2 */
              font-family: Montserrat;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 160%; /* 22.4px */
              letter-spacing: 0.25px;
            }
            .head {
              color: var(--black, #000);
              font-variant-numeric: lining-nums proportional-nums;

              /* BUTTON */
              font-family: Montserrat;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%; /* 19.6px */
              letter-spacing: 0.75px;
              text-transform: uppercase;
              padding-bottom: 16px;
            }
          }
        }
      }
    }
  }
}
