.page11 {
  .page11-section {
    margin-top: 200px;
    .container {
      .page11-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 129px;
        align-items: start;
        .i-1 {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 16px;
          a {
            color: #0d0d0d;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            line-height: 22.4px;
            width: 263px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            background: var(--yellow, #ffc000);
          }
        }
        .i-2 {
          display: flex;
          justify-content: start;
          flex-direction: column;
          h6 {
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 14px;
          }
          input {
            width: 263px;
            height: 40px;
            color: #0d0d0d;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding: 10px 10px;
            margin-top: 8px;
            margin-bottom: 16px;
          }
        }
        .i-3 {
          h6 {
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 14px;
          }
          input {
            width: 263px;
            height: 40px;
            color: #0d0d0d;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding: 10px 10px;
            margin-top: 8px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
