@use "../layout/header";
@use "../layout/footer";
@use "../base/colors";
header {
  .navbar {
    .togl {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 20px;
      left: 0;
      right: 0;
      top: 90px;
      background-color: white;
      padding: 50px;
      border-radius: 8px;
      .searchbar {
        width: 300px;
      }
    }
    #navbar {
      display: none;
      transition: 0.5s;
    }
  }
}
.navbar-open {
  display: block; /* Navbar butona tıklandığında görünür */
}
.dark-mode {
  background-color: black;
  color: white;
}
.menyu {
  .nav-btns {
    display: flex;
    flex-direction: column;
    text-align: center;
    .dark-btn {
      text-align: start;
      padding-left: 35px;
    }
  }
}
.backtop {
  position: fixed;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;

  z-index: 10;
  background-color: rgb(77, 77, 77);
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
main {
  .prof {
    .prof-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      .img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: #ccc;
      }
      .name {
        .p5 {
          color: var(--text-tittle, #1c3554);

          /* Heading/Bold/H4 - 32px */
          font-family: Rubik;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px; /* 150% */
          text-transform: capitalize;
        }
        .p6 {
          color: var(--text-body, #808080);

          /* Heading/Medium/H6 - 16px */
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
          text-transform: capitalize;
          padding-top: 8px;
        }
      }
    }
  }
  .tablets {
    .tablets-content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 64px;
      padding-bottom: 53px;
      .p7,
      .p8,
      .p9 {
        color: var(--text-tittle, #1c3554);

        /* Heading/Medium/H4 - 32px */
        font-family: Rubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; /* 150% */
      }

      .p9:hover {
        color: var(--text-tittle, #808080);

        /* Heading/Medium/H4 - 32px */
        font-family: Rubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        transition: 0.5s;

        line-height: 48px; /* 150% */
      }
      .p8:hover {
        color: var(--text-tittle, #808080);

        /* Heading/Medium/H4 - 32px */
        font-family: Rubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; /* 150% */
        transition: 0.5s;
      }
      .p7:hover {
        transition: 0.5s;

        color: var(--text-tittle, #808080);

        /* Heading/Medium/H4 - 32px */
        font-family: Rubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; /* 150% */
      }
    }
  }
  .kardlar {
    .kard-kontents {
      .trend-cards {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        margin-top: 32px;
        margin-bottom: 45px;
        column-gap: 25px;
        .t-card1 {
          display: flex;
          flex-direction: row;
          column-gap: 30px;

          .t-card {
            width: 295px;
            height: 427px;
            overflow: hidden;
            //   box-shadow: 2px 2px 10px 1px #858383;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            align-items: center;
            //   justify-content: center;
            text-align: start;
            position: relative;
            cursor: pointer;

            .t-texts {
              .p11 {
                color: var(--text-tittle, #1c3554);
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                text-transform: capitalize;
                padding-bottom: 8px;
              }
              .p12 {
                color: var(--primary-pink, #f72585);

                /* Paragraph/Semibold/Label - 12px */
                font-family: Montserrat SemiBold;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 200% */
                padding-bottom: 12px;
              }
              .trend-s {
                display: flex;
                flex-direction: row;
                align-items: start;
                .p13 {
                  color: var(--text-body, #808080);

                  /* Paragraph/Semibold/Caption - 14px */
                  font-family: Montserrat SemiBold;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px; /* 171.429% */
                  padding-bottom: 16px;
                }
              }
              .p14 {
                color: var(--text-tittle, #1c3554);

                /* Heading/Medium/H5 - 24px */
                font-family: Rubik;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px; /* 133.333% */
                del {
                  color: var(--text-in-field, #ccc);

                  /* Paragraph/Reguler/Body - 16px */
                  font-family: Montserrat;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 27px; /* 168.75% */
                }
              }
            }
            .t-img {
              width: 263px;
              height: 208px;
              border-radius: 8px;
              margin-top: 16px;
              margin-bottom: 27px;
            }
            .fartuk {
              .p15 {
                color: var(--text-white, #fff);

                /* Paragraph/Semibold/Label - 12px */
                font-family: Montserrat SemiBold;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 200% */
                background: #4586d6;
                border-radius: 8px;
                padding: 4px 24px;
                position: absolute;
                top: 205px;
                left: 83px;
              }
            }
          }
        }

        .t-card:hover {
          transition: all 0.5s;
          width: 295px;
          height: 427px;
          overflow: hidden;
          box-shadow: 2px 1px 15px 1px #858383;
          display: flex;
          flex-direction: column;
          border-radius: 8px;
          align-items: center;
          //   justify-content: center;
          text-align: start;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  main {
    .kardlar {
      .kard-kontents {
        .trend-cards {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  main {
    .kardlar {
      .kard-kontents {
        .trend-cards {
          display: flex;
          flex-direction: column;
          align-items: center;
          .t-card1 {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
    .tablets {
      .tablets-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
    .prof {
      .prof-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}
