main {
  margin-top: 110px;
  .home {
    background-color: #ffc000;
    .container {
      .home-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .home-left {
          .p5 {
            color: var(--white, #000000);
            font-variant-numeric: lining-nums proportional-nums;

            /* H4 Headline */
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 47.6px */
            letter-spacing: 0.25px;
            max-width: 588px;
          }
          .p6 {
            color: var(--white, #000000);
            font-variant-numeric: lining-nums proportional-nums;

            /* Subtitle 2 */
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 19.6px */
            letter-spacing: 0.1px;
            max-width: 588px;
            padding-top: 16px;
            padding-bottom: 24px;
          }
          .p7 {
            color: var(--yellow, #000000);
            font-variant-numeric: lining-nums proportional-nums;

            /* BUTTON */
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 19.6px */
            letter-spacing: 0.75px;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }
    }
  }
  .service {
    background-color: #f2f3f7;
    .container {
      .service-content {
        .p8 {
          color: #000;
          text-align: center;
          font-variant-numeric: lining-nums proportional-nums;

          /* H4 Headline */
          font-family: Montserrat;
          font-size: 34px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 47.6px */
          letter-spacing: 0.25px;
          padding-top: 67px;
          padding-bottom: 24px;
        }
        .cards {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 90px;
          .card {
            height: 144px;
            width: 294px;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 45px;
            background-color: white;
            .p9 {
              color: var(--black, #000);
              font-variant-numeric: lining-nums proportional-nums;

              /* Body 1 */
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 22.4px */
              letter-spacing: 0.44px;
            }
          }
        }
      }
    }
  }
  .product {
    background-color: #f2f3f7;
    padding-top: 40px;

    .container {
      .product-content {
        .p13 {
          color: #000;
          text-align: center;
          font-variant-numeric: lining-nums proportional-nums;

          /* H4 Headline */
          font-family: Montserrat;
          font-size: 34px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 47.6px */
          letter-spacing: 0.25px;
          padding-bottom: 32px;
        }
        .cards {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 64px;
          .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 264px;
            height: 522px;
            overflow: hidden;
            border-radius: 12px;
            background-color: white;
            .p10 {
              color: var(--black, #000);
              font-variant-numeric: lining-nums proportional-nums;

              /* BUTTON */
              font-family: Montserrat;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%; /* 19.6px */
              letter-spacing: 0.75px;
              text-transform: uppercase;
              padding-left: 13px;
              max-width: 245px;
              padding-right: 6px;
              padding-top: 7px;
            }
            .p11 {
              color: var(--black, #000);
              font-variant-numeric: lining-nums proportional-nums;

              /* Caption */
              font-family: Montserrat;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%; /* 16.8px */
              letter-spacing: 0.4px;
              width: 245px;
              padding-left: 13px;
              padding-right: 6px;
            }
            .stars {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 82px;
              padding: 12px;
              .p12 {
                color: var(--black, #000);
                font-variant-numeric: lining-nums proportional-nums;

                /* Overline */
                font-family: Montserrat;
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 14px */
                letter-spacing: 1.5px;
                text-transform: uppercase;
              }
            }
            button {
              background-color: #ffc000;
              border-radius: 6px;
              color: var(--black, #000);
              text-align: center;
              font-variant-numeric: lining-nums proportional-nums;

              /* BUTTON */
              font-family: Montserrat;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%; /* 19.6px */
              letter-spacing: 0.75px;
              text-transform: uppercase;
              width: 95%;
              margin: auto;
              padding: 8px;
              border: 0;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
  .category {
    background-color: #f2f3f7;
    padding-bottom: 245px;
    .container {
      .category-content {
        .p15 {
          color: #000;
          text-align: center;
          font-variant-numeric: lining-nums proportional-nums;

          /* H4 Headline */
          font-family: Montserrat;
          font-size: 34px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 47.6px */
          letter-spacing: 0.25px;
          padding-top: 64px;
          padding-bottom: 64px;
        }
        .imgs {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .first-img {
            display: flex;
            flex-direction: column;
            width: 264px;
            position: relative;
            .p14 {
              background-color: #000;
              padding: 22px 32px;
              position: absolute;
              top: 274px;
              left: 0;
              right: 0;
              color: var(--yellow, #ffc000);
              font-variant-numeric: lining-nums proportional-nums;

              /* H5 Headline */
              font-family: Montserrat;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 33.6px */
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          }
        }
      }
    }
  }
  .app {
    background-color: #0c0926;
    .container {
      .app-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .iph {
          margin-top: -175px;
        }
        .app-right {
          .p16 {
            color: var(--white, #fff);
            font-variant-numeric: lining-nums proportional-nums;

            /* H4 Headline */
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 47.6px */
            letter-spacing: 0.25px;
            max-width: 754px;
          }
          .p17 {
            color: var(--white, #fff);
            font-variant-numeric: lining-nums proportional-nums;

            /* Body 1 */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            letter-spacing: 0.44px;
            max-width: 754px;
            padding-top: 24px;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
  .imperia {
    .containerr {
      max-width: 1520px;
      margin: 0 auto;
      .imperia-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 48px;
        gap: 73px;
        .left {
        }
        .right {
          display: flex;
          flex-direction: column;
          .p18 {
            color: var(--black, #0d0d0d);
            font-variant-numeric: lining-nums proportional-nums;

            /* H4 Headline */
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 47.6px */
            letter-spacing: 0.25px;
          }
          .p19 {
            color: #000;
            font-variant-numeric: lining-nums proportional-nums;

            /* Body 1 */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            letter-spacing: 0.44px;
            padding-top: 24px;
            padding-bottom: 24px;
          }
          .p20 {
            color: var(--black, #000);
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;

            /* BUTTON */
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 19.6px */
            letter-spacing: 0.75px;
            text-transform: uppercase;
            padding: 8px 24px;
            background-color: #ffc000;
            width: 200px;
            border-radius: 6px;
          }
        }
      }
    }
  }
  .off {
    background-color: #ffc000;
    .container {
      .off-content {
        height: 450px;
        .p21 {
          color: var(--black, #0d0d0d);
          text-align: center;
          font-variant-numeric: lining-nums proportional-nums;

          /* H4 Headline */
          font-family: Montserrat;
          font-size: 34px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 47.6px */
          letter-spacing: 0.25px;
          max-width: 666px;
          margin: auto;
          padding-top: 170px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  main {
    .home {
      .container {
        .home-content {
          display: flex;
          justify-content: center;
          .home-left {
            display: none;
          }
          .home-right {
            img {
              width: 200px;
              text-align: end;
              margin-top: 40px;
              margin-left: 40px;
            }
          }
        }
      }
    }
    .service {
      background-color: #f2f3f7;
      .container {
        .service-content {
          .p8 {
            font-size: 16px;
          }
          .cards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 90px;
            gap: 20px;
          }
        }
      }
    }
    .product {
      background-color: #f2f3f7;
      .container {
        .product-content {
          .p13 {
            color: #000;
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;

            /* H4 Headline */
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 47.6px */
            letter-spacing: 0.25px;
            padding-bottom: 32px;
          }
          .cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding-bottom: 64px;
          }
        }
      }
    }
    .category {
      background-color: #f2f3f7;
      padding-bottom: 245px;
      .container {
        .category-content {
          .p15 {
            color: #000;
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;

            /* H4 Headline */
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 47.6px */
            letter-spacing: 0.25px;
            padding-top: 64px;
            padding-bottom: 64px;
          }
          .imgs {
            display: flex;
            flex-direction: column;

            align-items: center;
          }
        }
      }
    }
    .app {
      background-color: #0c0926;
      .container {
        .app-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .iph {
            margin-top: -75px;
            width: 123px;
            text-align: center;
          }
        }
      }
    }
    .imperia {
      .containerr {
        max-width: 1520px;
        margin: 0 auto;
        .imperia-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          gap: 73px;
          .left {
            display: none;
          }
        }
      }
    }
  }
}
